/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*code start*/

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f7f7ff;
}

.container {
  margin: 40px;
  color: #333131;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0px 0px 15px 0px;
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
}


.logo {
  width: 100px;
  height: auto;
  margin: 15px 15px 0px 40px;
}

form {
  margin: 20px;
  padding: 20px;
  background: white;
  box-shadow: 10px 10px 15px grey;
  border-radius: 30px;
}

input {
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
  width: 85%;
  color: grey;
  font-size: 1rem;
}

.check {
  margin: 10px;
  width: 20px;
}

button {
  background-color: #57eeab;
  border: none;
  width: 300px;
  text-decoration: none;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
}

.link {
  padding: 10px;
}

.pug {
  text-decoration: none;
  color: #ff8480;
}

footer {
  background: #fffd8c;
  margin-top: 10px;
  padding: 50px;
  padding-bottom: 20px;
}

footer .footext {
  padding: 5px 150px 5px 5px;
}

footer .hours {
  width: 45px;
  border-radius: 10px;
}

footer .city {
  width: 258px;
  border-radius: 10px;
}

footer .calculate {
  background: #ff8480;
  border-radius: 10px;
  width: 370px;
  color: white;
}

footer .icon {
  text-align: center;
  margin-top: 40px;
}

footer a {
  margin: 20px;
}